
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<GummiBearKingdom.Models.Product>


    <h2>Products</h2>
    <ul>
        @foreach (var product in Model)
    {
        <li><a asp-controller="Products" asp-action="Details" asp-route-id="@product.ProductId">@product.Name</a> </li>
    }
    </ul>

